@import url(./__item/photo-grid__item.css);

.photo-grid{
    margin:auto;
    margin-bottom:92px;
    max-width:1184px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 1em;
    grid-column-gap:1em;
}

@media screen and (max-width : 1280px){
    .photo-grid{
        max-width:92.5vw;
    }
}


@media screen and (max-width : 1024px){
    .photo-grid{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-row-gap: 0.875em;
        grid-column-gap: 0.875em;
        margin-bottom:102px;
        max-width: 90.63vw;
    }
}

@media screen and (max-width : 768px){
    .photo-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 1em;
        grid-column-gap: 1em;
        max-width: 93.75vw;
    }
    }

    @media screen and (max-width : 375px){
        .photo-grid{
            display: grid;
            grid-template-columns:1fr;
            max-width:91.47vw;
            margin-bottom:64px;
        }
    }

    @media screen and (max-width : 320px){
        .photo-grid{
            display: grid;
            grid-template-columns: 1fr ;
            grid-row-gap:.5em;
            max-width: 90vw;
        }
    }