.video-subtitle{
    color:white;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    max-width:640px;
    margin: 48px auto 72px;
    font-weight: normal;
}

@media screen and (max-width : 1280px){
    .video-subtitle{
        max-width:50vw;
    }
}

@media screen and (max-width : 768px){
    .video-subtitle{
        margin: 24px auto 56px;
        max-width: 90%;
    }
}

@media screen and (max-width : 375px){
    .video-subtitle{
        font-size: 16px;
        line-height: 23px;
        max-width: 91.47vw;
        margin: 16px auto 24px;
    }
}

@media screen and (max-width : 320px){
    .video-subtitle{
        max-width:90vw;
    }
}