.place__website{
    margin-top:23px;
    margin-bottom:60px;
    max-height: 46px;
    min-width:484px;
}

@media screen and (max-width : 1024px){
    .place__website{
        min-width: 430px;
    }
}

@media screen and (max-width : 768px){
    .place__website{
        min-width: 290px;
    }
}

@media screen and (max-width : 375px){
    .place__website{
        display: none;
    }
}