.video-title{
    max-width:800px;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    color:white;
    margin:auto;
}

@media screen and (max-width : 1280px){
    .video-title{
        max-width:62.5vw;
    }
}

@media screen and (max-width : 1024px){
    .video-title{
        max-width:78.13vw;
    }
}

@media screen and (max-width : 768px){
    .video-title{
        font-size: 42px;
        line-height: 46px;
        max-width: 60.08vw;
    }
}

@media screen and (max-width : 375px){
    .video-title{
        font-size: 32px;
        line-height: 35px;
        max-width: 91.47vw;
    }
}

@media screen and (max-width : 320px){
    .video-title{
        max-width: 90vw;
    }
}