@import url(./__caption/lead__caption.css);
@import url(./__image/lead__image.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__title/lead__title.css);

.lead{
    margin: 78px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 1024px){
    .lead{
        margin: 65px auto 0;
    }
}

@media screen and (max-width : 768px){
    .lead{
        max-width: 768px;
        margin: 0;
    }
}

@media screen and (max-width : 375px){
    .lead{
        margin-top: 48px;
        max-width: 375px;
    }
}

@media screen and (max-width : 320px){
    .lead{
        max-width: 320px;
    }
}