.header__logo{
    max-width: 176.58px;
    max-height: 52px;   
    margin-left:0;
}

.header__logo:hover {  
    transition: .2s;     
    opacity: .5;
}

@media screen and (max-width : 375px){
    .header__logo{
        max-width: 142px;
        max-height:42px;
    }
}