.video__item{
    min-width: 583px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    text-decoration: none;
}

.video__item:hover{
    transition: .2s;     
    opacity: .5;
}


@media screen and (max-width : 1024px){
    .video__item{
        min-width:456px;
    }
}

@media screen and (max-width : 768px){
    .video__item{
        min-width:352px;
    }
}

@media screen and (max-width : 375px){
    .video__item{
        min-width:343px;
        min-height: 200px;
    }
}

@media screen and (max-width : 320px){
    .video__item{
        min-width:288px;
    }
}