.intro__content-row{
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;  
    color:white;
    margin:48px auto 24px;
    max-width: 684px;
}

@media screen and (max-width : 768px){
    .intro__content-row{
        max-width: 650px;
        margin: 0;
    }
}

@media screen and (max-width : 375px){
    .intro__content-row{
        max-width: 343px;
        margin:32px auto 32px;
    }
}