.video__duration{
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    margin-left:30px;
    margin-bottom:12px;
    margin-top: 94px;
    color:white;
    z-index: 2;
}

@media screen and (max-width : 1024px){
    .video__duration{
        margin-top: 54px;
    }
}

@media screen and (max-width : 768px){
    .video__duration{
        margin-top: auto;
        margin-bottom:8px;
        margin-left:24px;
    }
}

@media screen and (max-width : 375px){
    .video__duration{
        margin-top: auto;
    }
}

@media screen and (max-width : 320px){
    .video__duration{
        margin-top: auto;
        margin-left: 16px;
    }
}

