.lead__image{
    max-width:984px;
    max-height: 554.13px;
    margin-top: 78px;
}

.lead__image:hover {  
    transition: .2s;     
    opacity: .5;
}


@media screen and (max-width: 1024px){
    .lead__image{
        max-width: 928px;
    }
}

@media screen and (max-width: 768px){
    .lead__image{
        max-width:768px;
        min-height:420px;
    }
}

@media screen and (max-width: 375px){
    .lead__image{
        max-width: 375px;
        min-height: 211px;
        margin-top: 31px;
    }
}

@media screen and (max-width : 320px){
    .lead__image{
        max-width: 320px;
        min-height: 211px;
    }
}