.lead__subtitle{
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: white;
    margin:auto;
    max-width: 540px;
}

@media screen and (max-width : 768px){
    .lead__subtitle{
        max-width:550px;
    }
}

@media screen and (max-width : 375px){
    .lead__subtitle{
        font-size: 16px;
        line-height: 23px;
        max-width: 262px;
    }
}

@media screen and (max-width : 320px){
    .lead__subtitle{
        max-width: 288px;
    }
}