@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);
@import url(./__image/cover__image.css);

.cover{
    max-width:1184px;
    display: flex;
    flex-direction: column;
    margin: 102px auto 160px;
    text-decoration: none;
}

@media screen and (max-width : 768px){
    .cover{
        max-width: 768px;
    }
}

@media screen and (max-width : 375px){
    .cover{
        max-width: 375px;
        margin: 48px auto 64px;
    }
}

@media screen and (max-width : 320px){
    .cover{
        max-width: 320px;
    }
}