.cover__image{
    position: absolute;
    max-width:1184px;
    max-height:594px;
    opacity: .7;
}

.cover__image:hover {      
    opacity: .5;
    transition: .2;
}

@media screen and (max-width : 1024px){
    .cover__image{
        max-width:1024px;
        min-height:562px;
    }
}

@media screen and (max-width : 768px){
    .cover__image{
        max-width: 768px;
        min-height:500px;
    }
}

@media screen and (max-width : 375px){
    .cover__image{
        max-width: 375px;
        min-height:272px;
    }
}

@media screen and (max-width : 320px){
    .cover__image{
        max-width: 320px;
        min-height:230px;
    }
}