.cover-bg{
    position: absolute;
    max-width:1184px;
    max-height:594px;
}

.cover-bg:hover {  
    transition: .2s;     
    opacity: .5;
}

@media screen and (max-width : 1024px){
    .cover-bg{
        max-width:1024px;
        min-height:562px;
    }
}

@media screen and (max-width : 768px){
    .cover-bg{
        max-width: 768px;
        min-height:500px;
    }
}

@media screen and (max-width : 375px){
    .cover-bg{
        max-width: 375px;
        min-height:272px;
    }
}

@media screen and (max-width : 320px){
    .cover-bg{
        max-width: 320px;
        min-height:230px;
    }
}