.video__item-bg{
    position: absolute;
    max-width:583px;
} 

.video__item-bg:hover {  
    transition: .2s;     
    opacity: .5;
}

@media screen and (max-width : 1024px){
    .video__item-bg{
        max-width:456px;
        min-height: 288px;
    }
}

@media screen and (max-width : 768px){
    .video__item-bg{
        max-width:352px;
        min-height:200px;
    }
}

@media screen and (max-width : 375px){
    .video__item-bg{
        max-width: 343px;
    }
}

@media screen and (max-width : 320px){
    .video__item-bg{
        max-width: 288px;
    }
}