.comment__image{
    margin-top:0;
    margin-left:0;
    margin-bottom:42px;
    border-radius: 50%;
}

.comment__image:hover {  
    transition: .5s;     
    opacity: .8;
}

@media screen and (max-width : 768px){
    .comment__image{
        margin-bottom:16px;
    }
}

