.video__conteiner{
    display: grid;
    grid-template-columns: 583px 583px;
    grid-column-gap: 18px;
}


@media screen and (max-width : 1024px){
    .video__conteiner{
        display: grid;
        grid-template-columns: 456px 456px;
    }
}

@media screen and (max-width : 768px){
    .video__conteiner{
        max-width:720px;
        display: grid;
        grid-template-columns: 352px 352px;
    }
}

@media screen and (max-width : 375px){
    .video__conteiner{
        max-width: 343px;
        display: grid;
        grid-template-columns: 343px;
        grid-row-gap: 8px;
        margin: auto;
    }
}

@media screen and (max-width : 320px){
    .video__conteiner{
        max-width: 288px;
        display: grid;
        grid-template-columns: 288px;
    }
}