.video__conteiner{
    display:flex;
    justify-content: space-between;
    max-height:323px;
}

@media screen and (max-width : 1024px){
    .video__conteiner{
        max-width:928px;
    }
}

@media screen and (max-width : 768px){
    .video__conteiner{
        max-width:720px;
        max-height:200px;
    }
}

@media screen and (max-width : 375px){
    .video__conteiner{
        max-width: 343px;
        max-height:408px;
        display: grid;
        grid-template-columns: 343px;
        grid-row-gap: 8px;
        margin: auto;
    }
}

@media screen and (max-width : 320px){
    .video__conteiner{
        max-width: 288px;
        max-height:392px;
        display: grid;
        grid-template-columns: 288px;
    }
}